/* A suitable funny font thanks to google fonts*/
@font-face {
    font-family: 'caveat';
    src: url('./Caveat-Regular.ttf');
  }

  :root {
    --backColor: #eee; --orng: #e80; --brn: #544;
  }
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--backColor);
    font-family: 'caveat';
    font-size: 1.5vw;
    color: var(--brn);
}

.watermark{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10vw;
    color: var(--orng);
    text-shadow: 4px 6px 15px #777;
    letter-spacing: 1vw;
}

.logged{
    opacity: .1;
}
#middle{
    position: fixed;
    top: 10vw;
    font-weight: bolder;
    text-align: center;
    display: inline;
}
#middle p{
    display: inline-block;
}

#logo-mid{
    color: var(--brn);
}

#slogan{
    font-size: 3vw;
    color: var(--brn);
}
#login-prompt{
    font-size: 2.3vw;
    margin: -1.5vw;
}
#bottom-band{
    position: fixed;
    top: 75vh;
    width: 100%;
    height: 22vh;
    border: 1px solid #fff;

}
#middle-up{
    position: fixed;
    left: 30vw;
    top: 20px;
    width: 80vw;
}
#today{
    font-weight: bolder;
    text-align: right;
    padding: 0 10px 10px ;
    border-right: 3px solid var(--orng);
    display: inline-block;
}
#today-fact{
    text-align: left;
    display: inline-block;
    width: 22vw;
    top: .5vw;
}

a{
    color: var(--orng);
}
a:hover{
    text-shadow: 1px 3px 5px #000;
}