/* A suitable funny font thanks to google fonts*/
@font-face {
    font-family: 'caveat';
    src: url('./Caveat-Regular.ttf');
  }

  :root {
    --backColor: #eee; --orng: #e80; --brn: #544;
  }
*{
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
        display: none;
    }

body{
    background-color: var(--backColor);
    font-family: 'caveat';
    font-size: 1.5vw;
    color: var(--brn);
}

.watermark{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10vw;
    color: var(--orng);
    text-shadow: 4px 6px 15px #777;
    letter-spacing: 1vw;
}

.logged{
    opacity: .1;
}
.dark{
    color: var(--brn);
}
.btn{
 border: 1px solid #fff;
 color: #fff;
 background-color: var(--orng);
 border-radius: .3vw;
 box-shadow: .1vw .2vw .3vw #555;
 padding: .5vw 2vw;
 font-family: Arial, Helvetica, sans-serif;
 text-decoration: none;
}
.btn:hover{
    opacity: .7;
}
.btn:active{
    box-shadow: none;
    opacity: 1;
}
#middle{
    position: fixed;
    top: 10vw;
    font-weight: bolder;
    text-align: center;

}
#middle p{
    display: inline-block;
}

#logo-mid{
    color: var(--brn);
}

#slogan{
    font-size: 3vw;
    color: var(--brn);
}
#login-prompt{
    font-size: 2.3vw;
    margin: -1.5vw;
}
#bottom-band{
    position: fixed;
    top: 80vh;
    width: 100%;
    height: 16vh;
    border: 1px solid #fff;

}
#middle-up{
    position: fixed;
    left: 30vw;
    top: 20px;
    width: 80vw;
}
.mid-orange{
    font-weight: bolder;
    text-align: right;
    padding: 0 10px 10px ;
    border-right: 3px solid var(--orng);
    display: inline-block;
}
#welcome{
    height: 28.5vw;
}
#today-fact{
    text-align: left;
    display: inline-block;
    width: 22vw;
    top: .5vw;
}
.link{
    color: var(--orng);
    border: none;
    outline: none;
    font-size: 1.2vw;
}

a{
    color: var(--orng);
}

#bottom-container{
    position: fixed;
    left: 35vw;
    margin: 0 1vw;
    padding: 1vw;
}
#bottom-container a{
    /* display: block; */
    position: absolute;
    top: 3.5vw;
    left: 2.5vw;
    width: 15vw;
}
#index-bottom-container{
    position: fixed;
    left: 33vw;
    margin: 0 1vw;
    padding: 1vw;
    top: 85vh;
}
#remove{
    position: fixed;
    left: 56vw;
    display: inline-block;
}
#back{
    position: fixed;
    left: 48vw;   
}

#fact-res{
    width: 25vw;
    left: 5.3vw;
    display: inline-block;
    position: relative;
}
#about-random{
    /* outline: 1px solid blue; */
    display: inline-block;
    position: absolute;
}

.fix{
    display: inline-block;
    position: absolute;
}
.big{
    font-size: 6vw;
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 2px 3px #777;
    margin: 0 30vw;
}

.clickable{
    cursor: pointer;
    font-weight: bolder;
}
.clickable:hover{
    text-shadow: .1vw .15vw .2vw #777;
    /* color: #fca; */
    opacity: .6;
}
.clickable:active{
    text-shadow: 1px 1px 2px #999;
    color: var(--orng);
}

#selectors{
    /* outline: 1px solid black; */
    position: fixed;
    width: 30vw;
    height: 5vh;
    top: 70.5vh;
    left: 36.6vw;
    padding: 0;
}
.tab{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 1vw;
    width: 4.5vw;
    height: 70%;
    text-align: center;
    border: 2px solid #fff;
    margin: 0 -.22vw;
    background-color: rgba(0,0,0,.1);
    border-radius: .6vw .6vw 0 0;
    cursor: pointer;
    top: -.2vh;
}

.selected{
    background-color: var(--orng);
    color: #fff;
    cursor: default;
}

#subject{
    width: 4vw;
    border: none;
    height: 3.5vh;
    top: 10vh;
    display: inline-block;
    font-size: 1vw;
    padding: 0 .5vw;
}
.orange-bar{
    display: inline-block;
    position: fixed;
    width: 25vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
    font-weight: bolder;
    padding: 1vh 1vw;
    background-color: var(--orng);
    color: #fff;
}
.left{
  width: 16vw; 
  left: 20vw;
  top: 3vw;

}
#top-label-note{
    top: 13vw;
    width: 3vw;
    left: 33vw;
}
#top-label-links{
    top: 28vw;
    width: 3vw;
    left: 33vw;
}
#fact-note{
    position: fixed;
    border: none;
    background-color: rgba(255,255,255,.5);
    left: 38vw;
    width: 35vw;
    top: 13vw;
    height: 13vw;
    font-size: 1.5vw;
    font-family: caveat;
    padding: 0 .3vw;
}
#add-link{
    position: fixed;
    left: 30vw;
    top: 27vw;
    font-size: 3vw;
}
#links-area{
    position: fixed;
    top: 28vw;
    left: 38vw;
    width: 35vw;
    padding: .5vw 0 0 1vw ;
    height: 10vw;
    font-family: caveat;
    overflow: hidden;
    color: var(--brn);
    font-size: 1.4vw;
}

#category{
    display: inline-block;
    position: relative;
    left: 5vw;
    font-weight: normal;
}
.nav{
    position: fixed;
    left: 0;
    top: 5vw;
    left:33vw;
}
#right-nav{
    left: 40vw;
}
#det-next{
    left:73vw;
}
#det-subject{
    color: var(--orng);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vw;
    position: fixed;
    left:12vw;
    top: 2.2vw;
}
#index-box{
    position: fixed;
    display: inline-block;
    width: 26vw;
    height: 50vh;
    top: 9vh;
    left: 38vw;
    overflow: auto;
}

.icon{
    color: var(--orng);
    margin: 0 0 0 10px;
}
.fact-list{
    width: 97%;
}
.fact-list:hover{
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
}
.det-fact{
    /* display: inline-block; */
    position: fixed;
    width: 37vw;
    top: 6vw;
}
#det-del-fact{
    position: fixed;
    left: 70vw;
    top: 2.5vw;
    font-size: 2.5vw;
}