<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACTOLLECTION a personal fun fact collector</title>
    <link rel="icon" href="../static/img/fn.png">
    <link rel="stylesheet" href="../static/css/fn.css">
    <script defer src="../static/js/fn.js"></script>
</head>
<body>
<!-- Fixed part. never change start -->
    <div id="middle">
        <p id="logo-first" class="watermark">F</p>
        <p id="logo-mid" class="watermark logged">ACTOLLECTIO</p>
        <p id="logo-last" class="watermark">N</p>
        <p id="slogan" class="watermark logged">Personal Fun Fact Collection</p>
    </div>
    <div id="middle-up">
<!-- Fixed part. never change end  -->
        <div id="top-bar">
            <p id="det-del-fact" class="icon clickable">&#x1f5d1;</p>
            <p id="det-subject">{Subj}</p>
            <div id="top-label-det" class="orange-bar left">Details
                <p id="category" class="clickable">No Category &#9660;</p>
            </div>
            <div id="index-box">
                <p id="fact" class="det-fact"> 
                    <span id="det-prev" class="icon clickable big nav"> < </span>
                    {Also this is another info panel containing saved fun facts
                    and for this one also it can cover up to three lines.}
                    <span id="det-next" class="icon clickable big nav"> > </span>
                </p>
            </div>
            <div id="top-label-note" class="orange-bar left">Notes
               <textarea id="fact-note" name="notes">{{notes}}</textarea>
            </div>
            <div id="top-label-links" class="orange-bar left">Links
            <input id="add-link" type="submit" class="clickable link" value="+">    
                <div id="links-area">
                    <!-- Loop starts here for each saved link  -->
                    <a href={link_url} id={link_n}>{link_label}</a>
                        <!-- There is non-breakable spaces here. Don't change these two lines -->
                    <span class="clickable">    &#x1f589;</span> 
                    <span class="clickable">    &#x1f5d1;</span>
                    <br>
                    <!-- Loop for saved links ends here -->
                </div>
            </div>
        </div>    
    </div>
    <div id="bottom-band">
        <div id="index-bottom-container">
          <a href="../" class="btn" id="save"> SAVE </a>
          <a href="../" class="clickable dark" id="back"> BACK </a>
          <a href="" class="clickable dark" id="remove"> REMOVE THIS SHEET </a>
        </div>
    </div>
    <!-- Hidden data containers -->
    <x id="data-facts" data={facts}></x>
    <x id="data-categories" data={categories}></x>
    <x id="data-links" data={links}></x>
</body>
</html>