<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACTOLLECTION a personal fun fact collector</title>
    <link rel="icon" href="../static/img/fn.png">
    <link rel="stylesheet" href="../static/css/fn.css">
    <script defer src="../static/js/fn.js"></script>
</head>
<body>
<!-- Fixed part. never change start -->
    <div id="middle">
        <p id="logo-first" class="watermark">F</p>
        <p id="logo-mid" class="watermark logged">ACTOLLECTIO</p>
        <p id="logo-last" class="watermark">N</p>
        <p id="slogan" class="watermark logged">Personal Fun Fact Collection</p>
    </div>
    <div id="middle-up">
<!-- Fixed part. never change end  -->
        <!-- <p id="welcome" class="mid-orange">Welcome<br>{username}<br><br><br></p> -->
        <div id="top-bar">
            <p id="det-del-fact" class="icon clickable">&#x1f5d1;</p>
            <p id="det-subject">Nov.21</p>
            <div id="top-label-det" class="orange-bar left">Details
                <p id="category" class="clickable">No Category &#9660;</p>
            </div>
            <div id="index-box">
                <p id="fact" class="det-fact"> 
                    <span id="det-prev" class="icon clickable big nav"> < </span>
                    {Also this is another info panel about a random two digit number
                    and for this one also it should be covering three lines, like this.}
                    <span id="det-next" class="icon clickable big nav"> > </span>
                </p>
            </div>
        </div>    
    </div>
    <div id="links">
        <input type="submit" class="clickable link" value="+">
    </div>
    <div id="bottom-band">
        <div id="bottom-container">

          <a href="/login/" class="clickable"> Save </a>
        </div>
    </div>
</body>
</html>