<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACTOLLECTION a personal fun fact collector</title>
    <link rel="icon" href="../static/img/fn.png">
    <link rel="stylesheet" href="../static/css/fn.css">
    <script defer src="../static/js/fn.js"></script>
</head>
<body>
<!-- Fixed part. never change start -->
    <div id="middle">
        <p id="logo-first" class="watermark">F</p>
        <p id="logo-mid" class="watermark">ACTOLLECTIO</p>
        <p id="logo-last" class="watermark">N</p>
        <p id="slogan" class="watermark">Personal Fun Fact Collection</p>
        <p id='login-prompt'><br>To build and manage your personal collection please
            <a href="/login/" class="clickable">login</a> 
        </p>
    </div>
    <div id="middle-up">
<!-- Fixed part. never change end  -->
        <p class="mid-orange">About today Dec. 15th<br>Do you know<br><br><br></p>
        <p id="today-fact">{{ fact }}
        </p>
    </div>
    <div id="bottom-band">
        <p id="left-nav" class="fix big clickable"> < </p>
        <div id="bottom-container">
          <p id="about-random">About 11:</p>
          <a href="/login/" class="clickable"> Save </a>
          <p id="fact-res">Also this is another info panel about a random two digit number
                         and for this one also it should be covering three lines, like this.
          </p> 
        </div>
        <p id="right-nav" class="fix big clickable"> > </p>
    </div>
</body>
</html>