<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACTOLLECTION a personal fun fact collector</title>
    <link rel="icon" href="./img/fn.png">
    <link rel="stylesheet" href="css/fn.css">
    <script defer src="js/fn.js"></script>
</head>
<body>
<!-- Fixed part. never change start -->
    <div id="middle">
        <p id="logo-first" class="watermark">F</p>
        <p id="logo-mid" class="watermark logged">ACTOLLECTIO</p>
        <p id="logo-last" class="watermark">N</p>
        <p id="slogan" class="watermark">Personal Fun Fact Collection</p>
        <p id='login-prompt'><br>To build and manage your personal collection please
            <a href="/login/">login</a> 
        </p>
    </div>
    <div id="middle-up">
<!-- Fixed part. never change end  -->
        <p id="today">About today Dec. 15th<br>Do you know<br><br><br></p>
        <p id="today-fact">This is information about today
                    It should be always gets 3 lines and in case it need to be filled  
                    or truncated</p>
    </div>
    <div id="bottom-band">
        <div id="bottom-container">
            
        </div>
    </div>
</body>
</html>