<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACTOLLECTION a personal fun fact collector</title>
    <link rel="icon" href="../static/img/fn.png">
    <link rel="stylesheet" href="../static/css/fn.css">
    <script defer src="../static/js/fn.js"></script>
</head>
<body>
<!-- Fixed part. never change start -->
    <div id="middle">
        <p id="logo-first" class="watermark">F</p>
        <p id="logo-mid" class="watermark logged">ACTOLLECTIO</p>
        <p id="logo-last" class="watermark">N</p>
        <p id="slogan" class="watermark logged">Personal Fun Fact Collection</p>
    </div>
    <div id="middle-up">
<!-- Fixed part. never change end  -->
        <p id="welcome" class="mid-orange">Welcome<br>{username}<br><br><br></p>
        <div id="top-label" class="orange-bar">Saved Facts</div>
        <div id="index-box">
            <p id="f0" class="fact-list">&#9654;{num} :: {fact_or_note}<span class="icon"> 3 </span></p>
            <p id="f1" class="fact-list">&#9654;{num} :: {fact_or_note}<span class="icon"> 3 </span></p>
        </div>
    </div>
    <div id="selectors">
        <div id="all" class="tab">ALL</div>
        <div id="trivia" class="tab selected">TRIVIA</div>
        <div id="math" class="tab">MATH</div>
        <div id="date" class="tab">DATE</div>
        <input id="subject" type="text">
        <input type="submit" class="clickable link" value="Go">
    </div>
    <div id="bottom-band">
        <p id="left-nav" class="fix big clickable"> < </p>
        <div id="bottom-container">
          <p id="about-random">About 11:</p>
          <a href="/login/" class="clickable"> Save </a>
          <p id="fact-res">Also this is another info panel about a random two digit number
                         and for this one also it should be covering three lines, like this.
          </p> 
        </div>
        <p id="right-nav" class="fix big clickable"> > </p>
    </div>
</body>
</html>